extends ../base

block content 
    if errorMessage     
        span=errorMessage
    form(method="POST")
        input(name="oldPassword", placeholder="Old Password", type="password")
        input(name="newPassword", placeholder="New Password", type="password")
        input(name="newPasswordCfm", placeholder="New Password Confirmation", type="password")
        input(value="Change Password", type="submit")
